@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;600;800&family=Roboto:wght@700&display=swap');

body {
  font-family: 'Poppins', serif;
  margin: 0%;
}

.strDiv {
  /* margin: 1%; */
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: large;
}

.likeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.meals-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.mealItem {
  width: 27%;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  padding: 2rem;
  background: linear-gradient(rgb(255, 0, 0), rgb(231, 231, 0, 0.7));
}

.thumb {
  height: 300px;
  width: 300px;
  border-radius: 5%;
  align-self: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

.imgLike {
  height: 20px;
}

.imgLike:hover {
  filter: invert(8%) sepia(98%) saturate(6374%) hue-rotate(246deg) brightness(111%) contrast(147%);
}

.imgLike:active {
  filter: invert(42%) sepia(98%) saturate(7352%) hue-rotate(354deg) brightness(98%) contrast(124%);
}

p {
  margin: 0%;
  font-size: 14px;
}

span {
  margin: 4%;
  font-size: 24px;
}

.hide {
  display: none;
}

.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: rgba(255, 123, 0, 0.616);
  border: 1px solid black;
  border-radius: 3px;
  width: 40%;
  margin: 2%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(208, 255, 0, 0.3);
  transition: 1s;
}

#submit {
  font-family: 'Poppins', serif;
  font-weight: lighter;
  cursor: pointer;
}

.open {
  background-color: rgba(3, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.close {
  margin-left: 74.5%;
  margin-top: 3.5%;
  position: fixed;
  border-radius: 5px;
}

.comments-board {
  padding: 5px;
  margin: 3% auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 700px;
  height: 565px;
  background-color: rgb(255, 0, 0, 0.9);
  border-radius: 10px;
}

.comments-board #imgThumb {
  width: 400px;
  height: 400px;
  border-radius: 5%;
  order: -1;
  margin: 0%;
}

.comments-board button {
  width: 25%;
  padding: 1% 0%;
  border-radius: 5px;
  margin-left: 10%;
}

.comments-board h2,
h4 {
  margin: 10% 10%;
}

.comments-board h2 {
  font-size: 30px;
}

.comments-board h4 {
  font-size: 14px;
}

.comments-board input {
  margin: 1% 10%;
  width: 60%;
  height: 20px;
  border-radius: 5px;
  padding: 0%;
}

.comments-board #comment {
  height: 70px;
}

.divComments {
  display: flex;
  margin-top: 3%;
  border-radius: 5px;
  background-color: white;
  width: 175%;
  overflow-x: auto;
  transition: 0.5s;
}

.comment {
  margin: 0.8px;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(206, 121, 138, 0.4);
}

.imgCancel {
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(282deg) brightness(104%) contrast(106%);
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

.exhibitionText {
  height: 150px;
}

.nav {
  display: flex;
  margin: auto 2rem;
}

#logo-nav {
  display: flex;
  gap: 2rem;
}

.links-nav {
  display: flex;
  gap: 10rem;
  list-style: none;
  align-items: center;
  margin: auto;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

footer {
  margin-top: 2rem;
  background-color: #FFD800;
  padding: 2rem;
}